:root{
    --mainOrange: rgb(255, 115, 0);
    --mainBlue: rgb(25, 0, 255);
    --mainGreen: rgb(92, 255, 71);
    --mainAlgae: rgb(0, 150, 0);
    --mainLightBlue: rgb(0, 225, 255);
    --gradientLow: rgb(0, 58, 167);
    --gradientMid: rgb(0, 195, 255);
    --gradientHigh: rgb(0, 255, 255);

}

@font-face {
    font-family: NunitoSans;
    src: url(../fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

/*<--> Base <-->*/

.pageIcon{
    background-image: url(../resources/ShapesLogo.svg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 200px;
    cursor:default;
    padding-left: 60px;
}
.pageTitle{
    cursor:default;
    font-family: NunitoSans;
    font-size: 60px;
    font-weight:bolder;
    display:  flex;
    height: 50px;
    margin-top: 40px;
    margin-left: 1%;
    align-items: center;
    color: var(--mainOrange);
    text-shadow: 4px 4px var(--mainBlue);
    transition: 150ms;
    margin-top: 50px;
    margin-bottom: 30px;
}
.pageTitle:hover{
    color: var(--mainBlue);
    text-shadow: -4px -4px var(--mainOrange);
}

.pageLink{
    font-size: 25px;
}

.header-main-nav{
    display: flex-start;
    margin-left: 40px;
    margin-right: 1%;
    align-items: center;
    gap: 15%;
    margin-top: 20px;
}
.header-main-nav ul li{
    display: flex;
    flex-wrap: wrap;
    float: left;
    font-family: NunitoSans;
    font-weight: 300;
    padding: 10px;
    background-color: var(--mainGreen);
    width: auto;
    height: 50px;
    border-radius: 25px;
    margin-right: 15px;
    margin-top: 10px;
}
.header-main-nav ul li a{
    cursor: pointer;
}

.header-main-nav ul li a:hover{
    color: var(--mainOrange);
    transition: 100ms;
    font-weight:bold;
}

.header-main-nav ul li a:active{
    color: var(--mainBlue);
}
html{
    background-color: rgb(0, 58, 167);
}

body{
    height: 100%;
    background-color: rgb(0, 255, 255);
    background: linear-gradient(0deg, var(--gradientLow) 0%, var(--gradientMid) 35%, var(--gradientHigh) 100%);
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pageSubtitle{
    text-shadow: -2px 0px 2px var(--mainAlgae);
    font-weight: 500;
}

/*<--> Games Page Grid <-->*/

.grid{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 60px, 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 30px;

}
.grid-item{
    background-color: rgb(121, 121, 121);
    width: 300px;
    height: 380px;   
    transition: 200ms;
    align-content: end;
    margin-bottom: 35px;
}


.grid-item:hover{
    background-color: rgb(173, 173, 173);
    width: 305px;
    height: 385px;   
    cursor: pointer; 
}
.grid-item:active{
    background-color: rgb(80, 80, 80);
    width: 300px;
    height: 380px;   
    cursor: pointer;   
    transition: 100ms;
}

.grid-item h3{
    font-family: NunitoSans;
    font-size: 30px;
    color: white;
    text-shadow: 0px, 0px, var(--mainBlue);
    font-weight: bold;
    width: 100%;
    align-self: center;
    text-align: center;
    padding-top: 5px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.356);
}

.grid-item:hover h3{
    color: var(--mainOrange);
    text-shadow: 3px, 3px, var(--mainBlue);
}
.grid-item:active h3{
    color: var(--mainBlue);
    
}

/*<--> News Page <-->*/

.news-section{
    width: 100%;
    height: 70%;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding: 60px, 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 30px;
}
.news-page{
    background-color: rgb(255, 255, 255);
    width: min(1000px, 50%);
    height:fit-content;
    border-radius: 8px;
    margin-bottom: 25px;
}
.news-page h4{
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
    cursor: default;
    align-self: center;
    text-align: center;
}
.news-page p{
    font-size: 18px;
    margin: 10px;
    margin-left: 20px;
    margin-top: 10px;
    
}
.news-page img{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

/*<--> Page <-->*/

.pageTextPanel{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 65vh;
    padding: 20px;
    padding-top: 30px;
    border-radius: 6px;
    text-align: center;
}
.pageTextPanel p{
    font-size: 25px;
    font-weight: 500;
}

/*<-->  <-->*/


/*<-->  <-->*/


/*<--> Text Settings <-->*/

h1{
    font-family: NunitoSans;
    font-size: 80px;
    cursor: default;
}
h2{
    font-family: NunitoSans;
    font-size: 60px;
    cursor: default;
}
h3{
    font-family: NunitoSans;
    font-size: 35px;
    cursor: default;
}
h4{
    font-family: NunitoSans;
    font-size: 30px;
    cursor: default;
}
p{
    font-family: NunitoSans;
    font-size: 20px;
    cursor: default;
}



